{% import "makrot/lomakkeet.html" as lomakkeet %}
{% extends "base.html" %}
{% block content %}

<h2>Karhut</h2>

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<p>
    <a href="{{base_path}}/karhut/uusi" class="btn btn-primary">Uusi karhu</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Liittymispäivä</th>
            <th>Saldo</th>
            <th>Taidot</th>
            <th></th>
            {% if user_logged_in.admin %}
            <th></th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for karhu in karhut %}
            <tr>
                <td><a href="{{base_path}}/karhut/{{karhu.karhuid}}">{{karhu.nimi}}</a></td>
                <td>{{karhu.pvm}}</td>
                <td>{{karhu.saldo}}</td>
                <td>
                    {% for taito in karhu.taidot %}
                        {{taito.nimi}} <br>
                    {% endfor %}
                </td>
                {% if user_logged_in.karhuid != karhu.karhuid %}
                <td><a href="{{base_path}}/viestit/uusi/{{karhu.karhuid}}" class="btn btn-default">Lähetä viesti</a></td>
                {% else %}
                <td></td>
                {% endif %}
                {% if user_logged_in.admin %}
                <td>
                    <form method="post" action="{{base_path}}/karhut/{{karhu.karhuid}}/muokkaa">
                        <button type="submit" class="btn btn-default">Muokkaa</button>
                    </form>
                </td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}