{% import "makrot/lomakkeet.html" as lomakkeet %}
{% extends "base.html" %}
{% block content %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

{% if virhe %}
<div class="alert alert-danger">
    {{virhe}}
</div>
{% endif %}

<h2>{{karhu.nimi}}</h2>
{% if user_logged_in.admin %}
    {{lomakkeet.poista_nappi("#{base_path}/karhut/#{karhu.karhuid}/poista")}}
    <a href="{{base_path}}/karhut/{{karhu.karhuid}}/muokkaa" class="btn btn-default">Muokkaa</a>
    <p><br><strong>Tunnus:</strong> {{karhu.tunnus}}</p>
{% endif %}
<p><strong>Liittymispäivä:</strong> {{karhu.pvm}}</p>
<p><strong>Saldo:</strong> {{karhu.saldo}}</p>
<p><strong>Taidot:</strong></p>
<p>
    {% if karhu.taidot %}
        {% for taito in karhu.taidot %}
            {{taito.nimi}}<br>
        {% endfor %}
    {% endif %}
</p>

<p>
    <a href="{{base_path}}/viestit/uusi/{{karhu.karhuid}}" class="btn btn-default">Lähetä viesti</a>
</p>

<p>
    <a href="{{base_path}}/karhut" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}