{% extends "base.html" %}
{% block content %}

<h2>Karhut</h2>

<p>
    <a href="{{base_path}}/karhut/uusi" class="btn btn-primary">Uusi karhu</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nimi</th>
            <th>Liittymispäivä</th>
            <th>Saldo</th>
            <th>Taidot</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for karhu in karhut %}
            <tr>
                <td><a href="{{base_path}}/karhut/{{karhu.karhuid}}">{{karhu.nimi}}</a></td>
                <td>{{karhu.pvm}}</td>
                <td>{{karhu.saldo}}</td>
                <td>
                    {% for taito in karhu.taidot %}
                        {{taito.nimi}} <br>
                    {% endfor %}
                </td>
                <td><a class="btn btn-default btn-sm" href="{{base_path}}/karhut/{{karhu.karhuid}}/muokkaa">Muokkaa</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}