{% import "makrot/virheet.html" as virheet_makro  %}
{% extends "base.html" %}
{% block content %}

<h2>Muokkaa karhua</h2>

{% if virheet %}
    {{virheet_makro.listaa_virheet(virheet)}}
{% endif %}

<form method="post" action="{{base_path}}/karhut/{{attribuutit.karhuid}}">
    <div class="form-group">
        <label>Nimi</label>
        <input name="nimi" class="form-control" type="text" value="{{attribuutit.nimi}}">
    </div>
    
    <div class="form-group">
        <label>Salasana</label>
        <input name="salasana" class="form-control" type="password" value="{{attribuutit.salasana}}">
    </div>
    
    <div class="form-group">
        <label>Roolit<br></label>
                
        <select class="form-control" name="valitut_roolit[]" multiple="">
            {% for rooli in roolit %}
            {% set lisatty = false %}
                {% if valitut_roolit %}
                    {% for valittu_rooli in valitut_roolit %}
                        {% if rooli.rooliid == valittu_rooli %}
                            <option value="{{rooli.rooliid}}" selected="selected">{{rooli.nimi}}</option>
                        {% set lisatty = true %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% if lisatty == false %}
                    <option value="{{rooli.rooliid}}">{{rooli.nimi}}</option>
                {% endif %} 
            {% endfor %}
        </select>
    </div>
       
        
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
    
</form>

<p>
    <a href="{{base_path}}/karhut" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}