{% extends "base.html" %}
{% block content %}

<h2>Tilasto</h2>

<p>Karhuja: <strong>{{tilasto.karhut}}</strong></p>
<p>Keikkoja: <strong>{{tilasto.keikkoja}}</strong></p>
<p>Kokonaissaalis: <strong>{{tilasto.kokonaissaalis}}</strong></p>
<p>Onnistumisprosentti: <strong>{{tilasto.onnistumisprosentti}}</strong></p>
<p>Tuottavin keikka: <strong>{{tilasto.tuottavin_keikka.nimi}} - {{tilasto.tuottavin_keikka.saalis}}</strong></p>

<h4>Parhaiten tienanneet karhut</h4>

<div>
    <ol>
        {% for topkarhu in tilasto.topkarhut %}
            <li><a href="{{base_path}}/karhut/{{topkarhu.karhuid}}">{{topkarhu.nimi}}</a> - {{topkarhu.saldo}}</li>
        {% endfor %}
    </ol>
</div>

{% endblock %}