{% extends "base.html" %}
{% block content %}

<h2>Kohteet</h2>

<p>
    <a href="{{base_path}}/kohteet/uusi" class="btn btn-primary">Uusi kohde</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kohteen nimi</th>
            <th>Osoite</th>
            <th>Arvio saaliista</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><a href="{{base_path}}/kohteet/0">Esimerkkikohde</a></td>
            <td>Esimerkkiosoite</td>
            <td>100000</td>
            <td><a class="btn btn-default btn-sm" href="#">Aloita keikka</a></td>
            <td><a class="btn btn-default btn-sm" href="{{base_path}}/kohteet/0/muokkaa">Muokkaa</a></td>
        </tr>

    </tbody>
</table>


{% endblock %}