{% extends "base.html" %}
{% block content %}

<h2>Kohteet</h2>
{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<p>
    <a href="{{base_path}}/kohteet/uusi" class="btn btn-primary">Uusi kohde</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Kohteen nimi</th>
            <th>Osoite</th>
            <th>Arvio saaliista</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for kohde in kohteet %}
            <tr>
                <td><a href="{{base_path}}/kohteet/{{kohde.kohdeid}}">{{kohde.nimi}}</a></td>
                <td>{{kohde.osoite}}</td>
                <td>{{kohde.arvo}}</td>
                <td><a class="btn btn-default btn-sm" href="{{base_path}}/keikat/uusi/{{kohde.kohdeid}}">Aloita keikka</a></td>
                <td><a class="btn btn-default btn-sm" href="{{base_path}}/kohteet/{{kohde.kohdeid}}/muokkaa">Muokkaa</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}