{% import "makrot/virheet.html" as virheet_makro  %}
{% extends "base.html" %}
{% block content %}

<h2>Muokkaa kohdetta</h2>

{% if virheet %}
    {{virheet_makro.listaa_virheet(virheet)}}
{% endif %}

<form method="post" action="{{base_path}}/kohteet/{{attribuutit.kohdeid}}/muokkaa">
    <div class="form-group">
        <label>Kohteen nimi</label>
        <input name="nimi" class="form-control" value="{{attribuutit.nimi}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Kohteen osoite</label>
        <input name="osoite" class="form-control" value="{{attribuutit.osoite}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Kohteen kuvaus</label>
        <input name="kuvaus" class="form-control" value="{{attribuutit.kuvaus}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Arvio ryöstösaaliista</label>
        <input name="arvo" class="form-control" value="{{attribuutit.arvo}}" type="text">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
    
</form>

<p>
    <a href="{{base_path}}/kohteet" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}