{% import "makrot/virheet.html" as virheet_makro  %}
{% extends "base.html" %}
{% block content %}

<h2>Uuden roolin luonti</h2>

{% if virheet %}
    {{virheet_makro.listaa_virheet(virheet)}}
{% endif %}

<form method="post" action="{{base_path}}/roolit">
    <div class="form-group">
        <label>Roolin nimi</label>
        <input name="nimi" class="form-control" value="{{attribuutit.nimi}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Roolin kuvaus</label>
        <input name="kuvaus" class="form-control" value="{{attribuutit.kuvaus}}" type="text">
    </div>
    
    <div class="form-group">
        <label>Vaativuuskerroin</label>
        <input name="vaativuuskerroin" class="form-control" value="{{attribuutit.vaativuuskerroin}}" type="text">
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
    
</form>

<p>
    <a href="{{base_path}}/roolit" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}