{% extends "base.html" %}
{% block content %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

{% if virhe %}
<div class="alert alert-danger">
    {{virhe}}
</div>
{% endif %}

<h2>Keikat</h2>

<p>
    <a href="{{base_path}}/keikat/uusi" class="btn btn-primary">Uusi keikka</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Keikan nimi</th>
            <th>Kohteen nimi</th>
            <th>Arvio saaliista</th>
            <th>Ilmoittautuneita</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for keikka in keikat %}
            <tr>
                <td><a href="{{base_path}}/keikat/{{keikka.keikkaid}}">{{keikka.nimi}}</a></td>
                <td><a href="{{base_path}}/kohteet/{{keikka.kohdeid}}">{{keikka.kohdenimi}}</a></td>
                <td>{{keikka.kohdearvo}}</td>
                <td>{{keikka.ilmoittautuneita}}/{{keikka.osallistujamaara}}</td>
                {% if keikka.kayttaja_keikalla == true %}
                <td><a class="btn btn-default btn-sm" href="#">Peru ilmoittautuminen</a></td>
                {% elseif (keikka.ilmoittautuneita) >= (keikka.osallistujamaara) %}
                <td>Odottaa alkamista</td>
                {% else %}
                <td><a class="btn btn-default btn-sm" href="{{base_path}}/keikat/{{keikka.keikkaid}}/ilmoittaudu">Ilmoittaudu</a></td>
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}