{% extends "base.html" %}
{% block content %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

<h2>Keikka: {{keikka.nimi}}</h2>

<p><strong>Kohde: </strong> <a href="{{base_path}}/kohteet/{{keikka.kohdeid}}">{{keikka.kohdenimi}}</a></p>
<p><strong>Arvio saaliista: </strong>{{keikka.kohdearvo}}</p>
<p><strong>Ryhmänjohtaja: </strong> <a href="{{base_path}}/karhut/{{keikka.karhuid}}">{{keikka.karhunimi}}</a></p>
<p><strong>Ilmoittautuneita: </strong> (luku)</p>
<p><strong>Paikkoja jäljellä: </strong> (luku)</p>

<p>
    <a href="#" class="btn btn-danger">Poista</a>
</p>

<p>
    <a href="{{base_path}}/keikat" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}