{% import "makrot/virheet.html" as virheet_makro  %}
{% extends "base.html" %}
{% block content %}

<h2>Uuden keikan luonti</h2>

{% if virheet %}
    {{virheet_makro.listaa_virheet(virheet)}}
{% endif %}

<form method="post" action="{{base_path}}/keikat">
    <div class="form-group">
        <label>Keikan nimi</label>
        <input name="nimi" class="form-control" value="{{attribuutit.nimi}}" type="text">
    </div>
           
    <div class="form-group">
        <label>Keikan kohde<br></label>
        <select class="form-control" name="kohde">
            {% if not valittu_kohde %}
                <option value="0" selected="selected"> - Valitse kohde - </option>
            {% else %}
                <option value="{{valittu_kohde.kohdeid}}" selected="selected">{{valittu_kohde.nimi}}</option> 
            {% endif %}
            
            {% for kohde in kohteet %}
                {% if valittu_kohde.kohdeid != kohde.kohdeid %}
                    <option value="{{kohde.kohdeid}}">{{kohde.nimi}}</option>
                {% endif %}
            {% endfor %}
            
        </select>
    </div>
        
    <div class="form-group">
        <label>Osallistujia (itsesi lisäksi)</label>
        <input name="osallistujamaara" class="form-control" value="{{attribuutit.osallistujamaara}}" type="text">
    </div>
    
    <div class="form-group">
        <p><strong>Luomalla uuden keikan toimit sen ryhmänjohtajana vastaten keikan toteutuksesta ja kirjaamisesta.<br>Tallentamalla hyväksyt tehtävän.</strong></p>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
    
</form>
<p>
    <a href="{{base_path}}/keikat" class="btn btn-default">Takaisin</a>
</p>

{% endblock %}