{% extends "base.html" %}
{% block content %}

{% if not user_logged_in %}
<h2>Kirjaudu sisään</h2>
{% endif %}

{% if virhe %}
<div class="alert alert-danger">
    {{virhe}}
</div>
{% endif %}

{% if viesti %}
<div class="alert alert-success">
    {{viesti}}
</div>
{% endif %}

{% if not user_logged_in %}
    <form method="post" action="{{base_path}}/kirjaudu">
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input type="text" class="form-control" name="tunnus">
        </div>
        <div class="form-group">
            <label>Salasana</label>
            <input type="password" class="form-control" name="salasana">
        </div>
        <button type="submit" class="btn btn-primary">Kirjaudu sisään</button>
    </form>
{% else %}
    {% if not viesti %}
    <div class="alert alert-success">Olet kirjautunut sisään, {{user_logged_in.nimi}}</div>
    {% endif %}
    
    {% if uudetviestit %}
        {% if lkm == 1 %}
            <h4>Sinulle on 1 uusi viesti:</h4>
        {% else %}
            <h4>Sinulle on {{lkm}} uutta viestejä:</h4>
        {% endif %}
        <ul>
            {% for uusiviesti in uudetviestit %}
                <li>{{uusiviesti.lahetysaika}} {{uusiviesti.lahettajanimi}} --- <a href="{{base_path}}/viestit/{{uusiviesti.viestiid}}">{{uusiviesti.otsikko}}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
    
    {% if johdettavat_keikat %}
        <h4>Olet ryhmänjohtajana keikoilla:</h4>
        <ul>
        {% for keikka in johdettavat_keikat %}
            {% if keikka.ilmoittautuneita >= keikka.osallistujamaara and keikka.paikka is null %}
                <li><a href="{{base_path}}/keikat/{{keikka.keikkaid}}">{{keikka.nimi}}  </a><span class="label label-info">Voit aloittaa tämän keikan sivulla <a href="{{base_path}}/keikat">Keikat</a></span></li>
            {% else %}
            <li><a href="{{base_path}}/keikat/{{keikka.keikkaid}}">{{keikka.nimi}}</a> <small>- ilmoittautuneita {{keikka.ilmoittautuneita}}/{{keikka.osallistujamaara}}</small></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    
    {% if keikat %}
        <h4>Olet ilmoittautunut keikoille:</h4>
        <ul>
        {% for keikka in keikat %}
            {% if user_logged_in.karhuid != keikka.karhuid %}
            <li><a href="{{base_path}}/keikat/{{keikka.keikkaid}}">{{keikka.nimi}}</a> <small>- ilmoittautuneita {{keikka.ilmoittautuneita}}/{{keikka.osallistujamaara}}</small></li>
            {% endif %}
        {% endfor %}
        </ul>
    {% endif %}
    
    <br>
    <form method="post" action="{{base_path}}/poistu" style="display: inline-block;">
        <button type="submit" class="btn btn-default">Kirjaudu ulos</button>
    </form>
   
{% endif %}

{% endblock %}
